docs/n8n-workflows/03-response-received.json
{
  "name": "Sollar - Resposta Recebida",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sollar-response",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Sollar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sollar-response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-response",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "diagnostic.response_received",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-response",
      "name": "É Resposta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-title",
              "name": "diagnostic_title",
              "value": "={{ $json.data.diagnostic_title }}",
              "type": "string"
            },
            {
              "id": "assign-count",
              "name": "response_count",
              "value": "={{ $json.data.response_count }}",
              "type": "number"
            },
            {
              "id": "assign-total",
              "name": "total_answers",
              "value": "={{ $json.data.total_answers }}",
              "type": "number"
            },
            {
              "id": "assign-timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "assign-org",
              "name": "organization_id",
              "value": "={{ $json.organization_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-milestone-10",
              "leftValue": "={{ $json.response_count }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-milestone-10",
      "name": "É Marco 10?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-milestone-50",
              "leftValue": "={{ $json.response_count }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-milestone-50",
      "name": "É Marco 50?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-milestone-100",
              "leftValue": "={{ $json.response_count }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-milestone-100",
      "name": "É Marco 100?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 600]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.NOTIFICATION_EMAIL || 'gestores@empresa.com' }}",
        "subject": "=🎉 {{ $json.diagnostic_title }} atingiu {{ $json.response_count }} respostas!",
        "emailType": "html",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #10B981 0%, #059669 100%); padding: 30px; text-align: center;\">\n    <h1 style=\"color: white; margin: 0;\">🎉 Marco Atingido!</h1>\n  </div>\n  \n  <div style=\"padding: 30px; background: #f9fafb;\">\n    <h2 style=\"color: #1f2937;\">{{ $json.diagnostic_title }}</h2>\n    \n    <div style=\"background: white; border-radius: 8px; padding: 20px; margin: 20px 0; text-align: center;\">\n      <p style=\"font-size: 48px; font-weight: bold; color: #10B981; margin: 0;\">{{ $json.response_count }}</p>\n      <p style=\"color: #6b7280; margin: 10px 0 0;\">participantes responderam</p>\n    </div>\n    \n    <p style=\"color: #374151;\">\n      O assessment está progredindo bem! Continue acompanhando o engajamento dos participantes.\n    </p>\n  </div>\n  \n  <div style=\"padding: 20px; text-align: center; background: #1f2937; color: #9ca3af; font-size: 12px;\">\n    <p>Notificação automática do Sollar Insight Hub</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-milestone-email",
      "name": "Notificar Marco",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Response logged', response_count: $('Extrair Dados').item.json.response_count, milestone_notified: true }) }}",
        "options": {}
      },
      "id": "respond-milestone",
      "name": "Responder Marco",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Response logged', response_count: $('Extrair Dados').item.json.response_count }) }}",
        "options": {}
      },
      "id": "respond-normal",
      "name": "Responder Normal",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Event ignored - not response', event_type: $('Webhook Sollar').item.json.event_type }) }}",
        "options": {}
      },
      "id": "respond-ignored",
      "name": "Ignorar Evento",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook Sollar": {
      "main": [
        [
          {
            "node": "É Resposta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Resposta?": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "É Marco 10?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Marco 50?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Marco 100?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Marco 10?": {
      "main": [
        [
          {
            "node": "Notificar Marco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Marco 50?": {
      "main": [
        [
          {
            "node": "Notificar Marco",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "É Marco 100?": {
      "main": [
        [
          {
            "node": "Notificar Marco",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Notificar Marco": {
      "main": [
        [
          {
            "node": "Responder Marco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Sollar"
    }
  ]
}
