docs/n8n-workflows/04-all-events-unified.json
{
  "name": "Sollar - Hub Central de Eventos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sollar-events",
        "options": {}
      },
      "id": "80192ac3-e6cf-4af1-b8cd-80d03a577001",
      "name": "Webhook Sollar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        300
      ],
      "webhookId": "sollar-events"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-activated",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "diagnostic.activated",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6ef741a-475f-4751-a494-9af229d8c001",
      "name": "É Ativação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-response",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "diagnostic.response_received",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6ef741a-475f-4751-a494-9af229d8c002",
      "name": "É Resposta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-risk",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "risk.threshold.exceeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6ef741a-475f-4751-a494-9af229d8c003",
      "name": "É Risco?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -336,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-status",
              "name": "status",
              "value": "activated",
              "type": "string"
            },
            {
              "id": "assign-title",
              "name": "title",
              "value": "={{ $json.data.title }}",
              "type": "string"
            },
            {
              "id": "assign-url",
              "name": "public_url",
              "value": "={{ $json.data.public_url }}",
              "type": "string"
            },
            {
              "id": "assign-start",
              "name": "start_date",
              "value": "={{ $json.data.start_date }}",
              "type": "string"
            },
            {
              "id": "assign-end",
              "name": "end_date",
              "value": "={{ $json.data.end_date || 'Sem data limite' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "316df332-0992-4083-92d1-efdbffc76001",
      "name": "Processar Ativação",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-status",
              "name": "status",
              "value": "response_received",
              "type": "string"
            },
            {
              "id": "assign-title",
              "name": "diagnostic_title",
              "value": "={{ $json.data.diagnostic_title }}",
              "type": "string"
            },
            {
              "id": "assign-count",
              "name": "response_count",
              "value": "={{ $json.data.response_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "316df332-0992-4083-92d1-efdbffc76002",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-status",
              "name": "status",
              "value": "risk_alert",
              "type": "string"
            },
            {
              "id": "assign-title",
              "name": "diagnostic_title",
              "value": "={{ $json.data.diagnostic_title }}",
              "type": "string"
            },
            {
              "id": "assign-category",
              "name": "category_name",
              "value": "={{ $json.data.category_name }}",
              "type": "string"
            },
            {
              "id": "assign-score",
              "name": "current_score",
              "value": "={{ $json.data.current_score }}",
              "type": "number"
            },
            {
              "id": "assign-level",
              "name": "risk_level",
              "value": "={{ $json.data.risk_level }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "316df332-0992-4083-92d1-efdbffc76003",
      "name": "Processar Risco",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Event processed', event_type: $('Webhook Sollar').item.json.event_type }) }}",
        "options": {}
      },
      "id": "a891878c-76b9-496b-ade5-41da8b20b001",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        112,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Event not matched', event_type: $('Webhook Sollar').item.json.event_type }) }}",
        "options": {}
      },
      "id": "1e727fe0-b179-437c-b682-5b04f454e001",
      "name": "Ignorar Evento",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -112,
        700
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Sollar": {
      "main": [
        [
          {
            "node": "É Ativação?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Resposta?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Risco?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Ativação?": {
      "main": [
        [
          {
            "node": "Processar Ativação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Resposta?": {
      "main": [
        [
          {
            "node": "Processar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "É Risco?": {
      "main": [
        [
          {
            "node": "Processar Risco",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Processar Ativação": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Risco": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5186b299-c43f-40f9-9946-46a2569ba001",
  "meta": {
    "instanceId": "632424cba7a667ad4601310f9152dfa37ddffdc69219851258d4e0904fa17d9a"
  },
  "id": "SollarHubCentral001",
  "tags": []
}
