docs/n8n-workflow-participant-emails.json
{
  "name": "Sollar - Disparo Emails Participantes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sollar-participants",
        "options": {}
      },
      "id": "webhook-participants",
      "name": "Webhook Participantes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "webhookId": "sollar-participants"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "participants.imported",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-participants",
      "name": "Filtrar Evento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-title",
              "name": "assessment_title",
              "value": "={{ $json.body.data.assessment_title }}",
              "type": "string"
            },
            {
              "id": "set-url",
              "name": "public_url",
              "value": "={{ $json.body.data.public_url }}",
              "type": "string"
            },
            {
              "id": "set-participants",
              "name": "participants",
              "value": "={{ $json.body.data.participants }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [80, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "participants",
        "options": {}
      },
      "id": "split-participants",
      "name": "Separar Participantes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Convite: {{ $(\"Extrair Dados\").first().json.assessment_title }} - Avaliacao de Riscos NR-1",
        "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>body{font-family:Arial,sans-serif;background:#f5f5f5;margin:0;padding:20px}.container{max-width:600px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1)}.header{background:linear-gradient(135deg,#8B4513,#A0522D);padding:32px;text-align:center}.header h1{color:#fff;margin:0;font-size:24px}.content{padding:32px}.btn{display:inline-block;background:#8B4513;color:#fff;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:600}.footer{background:#f9f9f9;padding:20px;text-align:center;color:#666;font-size:12px}</style></head><body><div class=\"container\"><div class=\"header\"><h1>Sollar Saude</h1></div><div class=\"content\"><p>Ola <strong>{{ $json.name }}</strong>,</p><p>Voce foi convidado(a) a participar da avaliacao:</p><h2 style=\"color:#8B4513\">{{ $(\"Extrair Dados\").first().json.assessment_title }}</h2><p>Esta e uma avaliacao de riscos psicossociais conforme a NR-1. Suas respostas sao <strong>confidenciais e anonimas</strong>.</p><p style=\"text-align:center;margin:30px 0\"><a href=\"{{ $(\"Extrair Dados\").first().json.public_url }}\" class=\"btn\">Responder Questionario</a></p><p>O questionario leva aproximadamente <strong>15-20 minutos</strong>.</p></div><div class=\"footer\"><p>Este e um email automatico.</p><p>2025 Sollar Saude</p></div></div></body></html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [560, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "qUO4rhqI3RcVhau8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Concluido",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook Participantes": {
      "main": [[{"node": "Filtrar Evento", "type": "main", "index": 0}]]
    },
    "Filtrar Evento": {
      "main": [[{"node": "Extrair Dados", "type": "main", "index": 0}]]
    },
    "Extrair Dados": {
      "main": [[{"node": "Separar Participantes", "type": "main", "index": 0}]]
    },
    "Separar Participantes": {
      "main": [[{"node": "Enviar Email", "type": "main", "index": 0}]]
    },
    "Enviar Email": {
      "main": [[{"node": "Concluido", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Sollar",
      "createdAt": "2025-12-21T00:00:00.000Z",
      "updatedAt": "2025-12-21T00:00:00.000Z"
    },
    {
      "name": "Email",
      "createdAt": "2025-12-21T00:00:00.000Z",
      "updatedAt": "2025-12-21T00:00:00.000Z"
    },
    {
      "name": "Participants",
      "createdAt": "2025-12-21T00:00:00.000Z",
      "updatedAt": "2025-12-21T00:00:00.000Z"
    }
  ],
  "_notes": {
    "workflow_id": "DJYJxu2Oe4LbOULs",
    "webhook_url": "https://sollar-n8n.7wxwzr.easypanel.host/webhook/sollar-participants",
    "status": "Fluxo de dados funcionando. Gmail OAuth precisa reautorizacao.",
    "next_steps": [
      "1. Acessar n8n UI e reautorizar Gmail OAuth",
      "2. Configurar Vercel deployment",
      "3. Adicionar node HTTP Request para atualizar status apos envio"
    ]
  }
}
